<h1>{{title}}</h1>

<form (submit) = 'onSubmit()' id="gForm" name="gForm" #gForm = ngForm>
  <label for="name">Github Username</label>
  <input 
    type = "text"
    name = "login"
    id = "login" 
    required
    [(ngModel)] = "user.login"
    placeholder="github_username">
  <br>
  <br>
  <input 
    type="submit" 
    value="Calculate my GitHub Score"
    [disabled] = "!gForm.valid">
</form>

<div class="score">
  <div *ngIf= 'user.data'>
    <h2>Hello, {{user.login}}</h2>
    <h3>Your Score: {{user.score }}</h3>
    <h4 *ngIf = 'user.score < 20' class="red"> Needs Work!</h4>
    <h4 *ngIf = 'user.score >= 20 && user.score < 50' class="orange"> A decent start!</h4>
    <h4 *ngIf = 'user.score >= 50 && user.score < 100'> Doing good!</h4>
    <h4 *ngIf = 'user.score >= 100 && user.score < 200' class="green"> Great job!!</h4>
    <h4 *ngIf = 'user.score >= 200' class="blue"> Github Elite!</h4>
    </div>
  <div *ngIf = '!user.data'>
    <h2>User does not exist, pick a different GitHub username</h2>
  <div>
    
</div>