<!DOCTYPE html>
<html>
    <head>
        <title> Quoting Dojo
        </title>
    </head>
    <body>
        <h1>Welcome to Quoting Dojo</h1>
        <br>
        <form action="/create" method="post">
            <label for="name">Your Name:</label>
            <input type="text" name="name" placeholder="name"></input>
            <br>
            <label for="quote">Your Quote</label>
            <br>
            <textarea name="quote" cols="30" rows="10" placeholder="Write quote here...."></textarea>
            <br>
            <input type="submit" value="Add My Quote!">
        </form>
        <br>
        <a href="/quotes">Skip to Quotes!</a>
    </body>
</html>