 <html>
    <body>
        <h1> New Car Form </h1>
        <form action="/new" method="post">
            <label for="carMake">Car Make</label>
            <input type="text" name="make"></input>
            <br>
            <label for="carModel">Car Model</label>
            <input type="text" name="model"></input>
            <br>
            <label for="carYear">Car Year</label>
            <input type="text" name="year"></input>
            <br>
            <input type="submit" value="Submit"></input>
        </form>
    </body>
</html>
