<h1 style = "text-align:center">Burbank, CA</h1>
<br>
<br>
<p>Humidity: {{data.main.humidity}}</p>
<p>Temperature (Average): {{data.main.temp * (9/5) - 459.67 | number:0}} &deg; F</p>
<p>Temperature (High): {{data.main.temp_max * (9/5) - 459.67 | number:0}} &deg; F </p>
<p>Temperature (Low): {{data.main.temp_min * (9/5) - 459.6 | number:0}} &deg; F</p>
<p>Status: {{data.weather[0].main}}</p>cd ser
<br>
<br>
<img src="https://static.pexels.com/photos/360698/pexels-photo-360698.jpeg" alt="Burbank">

